<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<listeners>
<listener class-name="com.comcast.crm.listenerutility.ListImpClass"/>
</listeners>
  <test name="Test">
    <classes>
      <class name="scrrenshots.and.listenrs.InvoiceTestListeners"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
